body {
    font-family:'Spartan', sans-serif;
    background-color: #f9c74f;
    color:black;
    line-height: 20px;
    word-spacing: 3px;

}
h2{
    font-family:'Spartan', sans-serif;
    color: #43aa8b;
    letter-spacing: 1.5px;
    font-size:32px;
    text-shadow: 3px 4px #4d908e;
    
}
h1{
    font-family: 'Arvo', serif;
    color: #43aa8b;
    letter-spacing: 1.5px;
    font-variant: small-caps;
    word-spacing: -1px ;
    font-size:60px;
    text-shadow: 3px 4px #4d908e;
    text-align: center;
    
}
ul{
    list-style-type: none;
    text-align: center;
}
li{
    display: inline-block;
    padding-left: -3em;
}
img{
    border: solid 1px black;
}
img:hover{
    text-decoration:underline;
    background-color: #90be6d;
    border: solid 10px #4d908e;
    font-weight: bolder;
    cursor: pointer;
    font-size: 20px;
}
div.firstlayer{
    background-color: #f94144;
    color: black;
    margin: 10px;
    padding: 30px;
    text-align: center;
    font-size: 20px;

}
div.triogif{
    text-align: center;
}
div.Childhood {
    background-color: #f9844a;
    border:dashed 5px #277da1;
}
div.JHS{
    background-color: #f9844a;
    border:dashed 5px #277da1;
}
div.SHS{
    background-color: #f9844a;
    border:dashed 5px #277da1;
}
div.SELFIES{
    background-color: #f9844a;
    border:dashed 5px #277da1;
} 
div.FAMILY{
    background-color: #f9844a;
    border:dashed 5px #277da1;
}
div.BFF{
    background-color: #f9844a;
    border:dashed 5px #277da1;
}
a:link{
    text-decoration: none;
    color: #577590;
}
a:visited{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration:underline;
    background-color: #90be6d;
    color: #577590;
    font-weight: bolder;
    cursor: pointer;
    font-size: 30px;
}
a:active{
    text-decoration: none;
    color: black;
}
li.a{
    padding-left: 1em;
}