body{
    background-color: #f9c74f;
    font-family:'Spartan', sans-serif;
    color:#577590;

}
h1{
    font-size:50px;
    line-height: 0;
    letter-spacing: 3px;
    font-weight:bolder;
    color: #43aa8b;
    text-shadow: 5px 5px #4d908e;
}
h2{
    color: #43aa8b;
    text-shadow: 2px 3px #4d908e ;
    font-weight:bold;
    background-color:#f8961e;
    font-size: 30px;
}
h3{
    background-color:#f8961e;
}
blockquote{
    font-size: 18px;
}
hr{
    border-top: 5px dashed #f9844a;
    border-bottom: none;
    width: 100%;
    size: 10;
    height: 5;
}
.pic{
    text-align: center;
}

.personal_infor{
    text-align: right;
    line-height: 2px;
    font-size: 1em;

}
a.email{
    text-decoration: none;

}
a:link{
    text-decoration: none;
    color: #577590;
}
a:visited{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #577590;
    font-weight: bolder;
    cursor: pointer;
    font-size: 18px;
}
a:active{
    text-decoration: none;
    color: black;
}
div.firstlayer{
    background-color: #f8961e;
    color: black;
    margin: 2px;
    padding: 30px;
    font-size: 16px;

}
ul.a{
    list-style-type: none;
}
li.a{
    display: inline-block;
    padding-left: 1em;
    text-align: center;
}

#div_row {
    display:inline; 
    text-align: right;   
}
#div_column li{
    display: inline;
    list-style-type: none;
    text-align: right; 
}
.TechnicalSkills{
    list-style-position: inside;
    list-style-image: url("https://img.icons8.com/stickers/18/000000/rating-circled.png")

}
.WorkExp{
    list-style-position: inside;
    list-style-image: url("https://img.icons8.com/stickers/18/000000/rating-circled.png");
    margin: 1;
    padding: 10;
    font-size: 18px;
}
.EA{
    border-left: 5px solid #f3722c;
    background-color:#f8961e;
    list-style-type: none;
    padding: 10px 20px;
}
.EB{
    list-style-type: none;
    font-weight: bolder;
}
.EC{
    list-style-type: none;
}

.STS{
    border-left: 5px solid #f3722c;
    background-color:#f8961e;
    list-style-type: none;
    padding: 10px 20px;
}

.STA{
    list-style-type: none;
}
.STB{
    list-style-type: none;
    font-weight: bolder;
}
.STC{
    list-style-type: none;
}
.HIRJA{
    list-style-position: inside;
    list-style-image: url("https://img.icons8.com/stickers/18/000000/rating-circled.png")

}