body {
    font-family:'Spartan', sans-serif;
    background-color: #f9c74f;
    color:black;
    line-height: 20px;
    word-spacing: 3px;
    font-size: 18px;

}
h2{
    font-family:'Spartan', sans-serif;
    color: #43aa8b;
    letter-spacing: 1.5px;
    font-size:32px;
    text-shadow: 3px 4px #4d908e;
    background-color:#f8961e;
    
}
h1{
    font-family: 'Arvo', serif;
    color: #43aa8b;
    letter-spacing: 1.5px;
    font-variant: small-caps;
    word-spacing: -1px ;
    font-size:60px;
    text-shadow: 3px 4px #4d908e;
}
p{
    margin: 0px;
    padding: 0px;
    line-height: 20px;
    text-align: left;
    display: flex;
    vertical-align: auto;
}
img{
    vertical-align: auto;
}
a:link{
    text-decoration: none;
    color: black;
}
a:visited{
    text-decoration: none;
    color: black;
}
a:hover{
    font-weight: bolder;
    cursor: pointer;
    font-size: 18px;
}
a:active{
    text-decoration: none;
}
div.firstlayer{
    background-color: #f8961e;
    color: black;
    margin: 2px;
    padding: 5px;
    font-size: 18px;

}
ul.a{
    list-style-type: none;
}
li.a{
    display: inline-block;
    padding-left: 2em;
    text-align: left;
}
div.container{
    background-color: #f8961e;
    width: 400px;
    height: 500px;
    border: 15px solid #f9844a;
    padding: 50px;
    margin: auto;
    box-shadow: 10px 10px 5px gray;
    display: flex;
    justify-content: center;
    align-items: left;
}
div.heading1{
    margin: -40px;
    line-height: 60px;
    letter-spacing: 10px;
}
ul.checklist{
    list-style-type: none;
    line-height: normal;
    padding-top: 20px;
    vertical-align:auto;
    font-size: 18px;

}